/BaseFileResolver$1.class
/BaseFileResolver$2.class
/BaseFileResolver.class
/BaseTextResolver.class
/TargetSet.class
/XMLBuilder.class
/FileTargetSet.class
/TextTargetSet.class
/BaseTargetSet.class
/DirTargetSet.class
